@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --slantedText: "Grand Hotel", cursive;
  --primaryColor: #3066be;
  --secondColor: #ff521b;
  --thirdColor: #660404;
  --mainDark: #3a3e3b;
  --mainWhite: #fff;
  --mainGrey: #e5e5e5;
  --mainTransition: all 0.3s ease-in-out;
  --letterSpacing: 0.5rem;
}

body {
  font-family: "Catamaran", sans-serif;
  line-height: 1.5;
}
/* h1 {
  font-family: var(--slantedText);
} */

/* helper/utility class */
a {
  text-decoration: none;
}
.text-white {
  color: var(--mainWhite);
}
.text-center {
  text-align: center;
}
.text-primary {
  color: var(--primaryColor);
}
/* clear fix */
/* globals */
/* navbar */

/* header */
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(15, 1, 78, 0.55)),
    url("./images/main-bcg.jpg") center/cover no-repeat fixed;
  position: relative;
}
/* end header */

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  letter-spacing: var(--letterSpacing);
}

.banner-subtitle {
  font-size: 3.7rem;
  font-family: var(--slantedText);
  color: var(--primaryColor);
  font-weight: bold;
  animation: slideFromRight 5s ease-in-out 1;
}

.vanhar-text {
  color: var(--secondColor);
}

.banner-title {
  text-transform: uppercase;
  font-size: 2.1rem;
  color: var(--mainWhite);
  margin-top: 2.1rem;
  line-height: 140%;
  animation: slideFromLeft 5s ease-in-out 1;
}

.main-btn,
.banner-btn {
  display: inline-block;
  background: var(--secondColor);
  /* margin: 5%; */
  padding: 0.8rem 1.2rem;
  text-transform: uppercase;
  color: var(--mainDark);
  font-weight: bold;
  outline: 0.2rem solid var(--primaryColor);
  outline-offset: 4px;
  cursor: pointer;
  margin-top: 2rem;
}

.main-btn:hover,
.banner-btn:hover {
  color: var(--mainGrey);
  opacity: 0.85;
  transition: var(--mainTransition);
}

.vanhar-text:hover {
  color: var(--mainGrey);
  transition: var(--mainTransition);
  cursor: -webkit-zoom-out;
}
.vanhar-text {
  animation: flash 2s ease-in-out 2;
}

.banner-btn {
  padding: 1.2rem 1.5rem;
  animation: show 3s ease-in-out 1;
}

/* end header */

/* animation */
@keyframes show {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translate(1000px);
  }
  50% {
    transform: translate(-200px);
  }
  75% {
    transform: translate(50px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translate(-1000px);
  }
  50% {
    transform: translate(200px);
  }
  75% {
    transform: translate(-50px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

/* content divider */
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--primaryColor),
    var(--secondColor),
    var(--primaryColor)
  );
}
/* end of content divider */

/* section */
.section {
  background: var(--mainGrey);
}
.section {
  padding: 2rem 0;
  text-align: center;
  transition: var(--mainTransition);
}
.section-icon {
  font-size: 3.5rem;
  margin-bottom: 1.4rem;
  transition: var(--mainTransition);
  display: inline-block;
}
.section-title {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing);
  margin-bottom: 1.4rem;
  color: var(--primaryColor);
}
.section-text {
  max-width: 12rem;
  display: inline-block;
  text-align: center;
}
.section:hover {
  background: var(--secondColor);
}
.section:hover .section-icon {
  transform: translateY(3px);
  /* animation: show 1s ease 1; */
}
.section:hover .section-title {
  color: var(--mainGrey);
}
@media screen and (min-width: 500px) {
  .section {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .section {
    float: left;
    width: 25%;
  }
}
/* end of section */

/* clear fix*/
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

/* about */
.section-center {
  padding: 4rem 0;
  width: 80vw;
  max-width: 1170px;
  margin: 0 auto;
}

.about-picture-container {
  width: 100%;
  display: block;
  /* background: var(--primaryColor); */
  transition: var(--mainTransition);
}
.about-picture-container:hover {
  opacity: 0.6;
  transform: scale(1.2);
}
.about-img,
.about-info {
  padding: 2rem;
}
.section-subtitle {
  font-size: 2rem;
  font-family: var(--slantedText);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  color: var(--secondColor);
}
.section-title {
  font-size: 2rem;
  text-transform: uppercase;
}
.about-text {
  margin: 1rem 0;
  max-width: 26rem;
}
@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
  }
}
/* end of about */
